<div class="card">
    <div class="card-header">
        <h2>
            edit post
        </h2>
    </div>
    <form id="editPost" class="card-body">
        <input type="hidden" id="postId" value="{{post.id}}">
    </form>
</div>